<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Dark Age - Wanted Artefact</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if auth.check() %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path_for('admin.panel') }}">Panel admin</span></a>
                </li>
                {% endif %}

            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown pull-right">
                    {% if auth.check() %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Connected: {{ auth.admin.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path_for('auth.signout') }}">Sign out</a>
                    </div>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for('auth.signin') }}">Sign in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{#<nav style="margin-top: 63px; padding-left: 50px; position: fixed; top: 0; z-index: 999">#}
    {#<div class="container">#}
        {#<div class="nav-wrapper" style="width: 100%">#}
            {#<a href="#" class="brand-logo center">Dark Age - Wanted Artefact</a>#}
            {#<ul id="nav-mobile" class="left hide-on-med-and-down">#}
                {#<li><a href="#"> Combat </a></li>#}
            {#</ul>#}

            {#<ul id="nav-mobile" class="right hide-on-med-and-down">#}
                {#<li><a href="#">Sign in</a></li>#}
            {#</ul>#}
        {#</div>#}
    {#</div>#}
{#</nav>#}