{% include '/layout/header.html.twig' %}




<div class="container" style="padding-top: 3%">
    <h2 class="white-text center-align"> Modification du perso {{ hero.firstname}} {{ charac.name}} </h2>
    <div class="row">
        <form class="col s12" action="{{ path_for('modif.hero')}}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s6">
                    <input id="name" type="text" name="name" class="green-text validate" value= {{charac.name}}>
                    <input id="name" type="hidden" name="id_hero" class="green-text validate" value= {{hero.id_hero}}> 
                    <label class="green-text" for="name">Nom</label>
                </div>
                <div class="input-field col s6">
                    <input id="firstname" type="text" name="firstname" class="green-text validate" value= {{ hero.firstname}}>
                    <label class="green-text" for="firstname">Prénom</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="name" type="text" name="elem" class="green-text validate" value= {{elem.name}}> 
                    <input id="name" type="hidden" name="id_elem" class="green-text validate" value= {{elem.id_element}}> 
                    <label class="green-text" for="elem">L'élement du Hero</label>
                </div>
                <div class="input-field col s6">
                    <input id="firstname" type="text" name="race" class="green-text validate" value= {{ race.name}}>
                    <input id="firstname" type="hidden" name="id_race" class="green-text validate" value= {{ race.id_race}}>
                    <label class="green-text" for="race">Race du Hero</label>
                </div>
            </div>
            </div>

            <button class="green btn waves-effect waves-light" type="submit">Valider
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>


{% include '/layout/footer.html.twig' %}