{% include '/layout/header.html.twig' %}

<script type="application/javascript">
    function getRandomInt(max) {
        return Math.floor(Math.random() * max  + 1);
    }

    function uncheckBoxes(name){
        let selection = document.getElementsByName(name)
        selection.forEach(function (id) {
            for(let i = 0; i < selection.length; i++){
                selection[i].checked = false
            }
        })
    }


    window.onload = function selection() {

        //bouton de selection d'un heros aleatoire
        const randomHero = document.getElementById("randomHero")
        randomHero.addEventListener("click", function (event) {
            let number = document.getElementById("randomHero").value
            alert(number)
            let id = getRandomInt(number[1]).toString()
            uncheckBoxes("caracHero")
            let heroValue = document.getElementById("hero"+id)
            heroValue.checked=true
            alert(heroValue.getAttribute("data-name")+" a été choisi aléatoirement")
        })

        //bouton de selection d'un monstre aleatoire
        const randomMonster = document.getElementById("randomMonster")
        randomMonster.addEventListener("click", function (event) {
            let number = document.getElementById("randomMonster").value
            let id = getRandomInt(number[3])
            uncheckBoxes("caracMonster")
            let monsterValue = document.getElementById("monster"+id)
            monsterValue.checked=true
            alert(monsterValue.getAttribute("data-name")+" a été choisi aléatoirement")
        })


        //lancement du combat
        const f = document.getElementById("gofight")
        f.addEventListener("click", function (event) {
            let nbSelected
            let selecHero = Array.from(document.getElementsByName("caracHero"))
            let array_Hero = []
            let i = 0
            selecHero.forEach(function (id) {
                if (id.checked) {
                    array_Hero[i] = id.value
                    i++
                }
            })

            let selecMonster = Array.from(document.getElementsByName("caracMonster"))
            let array_Monster = []
            let y = 0
            selecMonster.forEach(function (id) {
                if (id.checked) {
                    array_Monster[y] = id.value
                    y++
                }
            })

            if ((i ===1) && (y===1)) {
                window.location.href = `fight?id_hero=${array_Hero[0]}&id_monster=${array_Monster[0]}`
            } else {
                alert("Veuillez sélectionner un héros et un monstre")
            }
        })

        //lancement du combat
        const initFight = document.getElementById("initFight");
        initFight.addEventListener("click", function (event) {
            console.log('INITFIGHT');
            let selecHero = Array.from(document.getElementsByName("caracHero"));
            let selection = selecHero.concat(Array.from(document.getElementsByName("caracMonster")));
            let i = 0;
            let array_val = [];
            selection.forEach(function (id) {
                if (id.checked) {
                    array_val[i] = id.value;
                    i++
                }
            });
            if (i !== 2) {
                alert("Veuillez sélectionner deux champions")
            } else {
                window.location.href = `initFight?id_hero=${array_val[0]}&id_monster=${array_val[1]}`
            }
        });

        //selection aleatoire des adversaires
        const f2 = document.getElementById("goRand")
        f2.addEventListener("click", function (event) {
            let rdm = document.getElementById("goRand").value
            let idHero = getRandomInt(rdm[1])
            let idMonster = getRandomInt(rdm[3])
            window.location.href=`fight?id_hero=${idHero}&id_monster=${idMonster}`
        })

    }
</script>


<div>

    <h2 class="white-text center-align">Préparez-vous au combat !</h2>

    <div class="row flex">
        {#BLOC HEROS#}
        <div class="col" >
            <h4 class="left-align green-text" style="font-weight: bold;"> Choisissez le(s) héros que vous envoyez au
                combat</h4>
            <div class="card valign-wrapper">
                <div class="card-content">
                    <div class="col">
                        <div>
                            {% for heros in hero %}
                                {#BLOC REPETE HERO#}
                                <div class="row valign-wrapper">
                                    {#BLOC INFO PERSO#}
                                    <div class="card horizontal" style="width: 256px">
                                        <div class="card-image center-block center">
                                            <img style="width: 256px" src="{{ heros.path }}"
                                                 alt="Un héros">
                                        </div>
                                        <div class="card-stacked">
                                            <div class="card-content">
                                                <h5 class="center"> {{ heros.firstname }} {{ heros.name }} </h5>
                                                <p>{{ heroo.getAllCaracHero(heros.id_hero).race.hp}}</p>
                                            </div>
                                            <div class="card-action">
                                                <label>
                                                    <input class="checkbox-green" type="checkbox" name="caracHero" id=hero{{heros.id_hero}} data-name="{{ heros.firstname }} {{ heros.name }}"
                                                           value={{ heros.id_hero }}>
                                                    <span>Envoyer
                                            ce héros au combat</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {#BLOC INFO PERSO#}

                                    <div class="col">
                                        {#BLOC STATS#}
                                        <div>
                                            <div class="card horizontal" style="width: 256px">
                                                <div class="card-stacked">
                                                    <div class="card-content">
                                                        Points de vie:
                                                        <div class="progress">
                                                            <div class="green determinate" style="width: 70%"></div>
                                                        </div>
                                                        Attaque
                                                        <div class="progress">
                                                            <div class="green determinate" style="width: 70%"></div>
                                                        </div>
                                                        Défense
                                                        <div class="progress">
                                                            <div class="red determinate" style="width: 70%"></div>
                                                        </div>
                                                        Agilité
                                                        <div class="progress">
                                                            <div class="green determinate" style="width: 70%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {#BLOC STATS#}

                                        {% if auth.check() %}
                                            {#BLOC ACTIONS#}
                                            <div class="card horizontal" style="width: 256px">
                                                <div class="card-stacked">
                                                    <div class="card-content">
                                                        <h5 class="center"> Actions </h5>
                                                    </div>
                                                    <div class="card-action">
                                                        <form style="display: inline-block;"
                                                              action="{{ path_for('modif.hero') }}"
                                                              method="get">
                                                            <button style="height: 50%; line-height: 2; font-weight: bold;"
                                                                    class="green waves-effect waves-light btn"
                                                                    name="modifier"
                                                                    type="submit"
                                                                    value={{ heros.id_hero }}>Modifier
                                                            </button>
                                                        </form>

                                                        <form style="display: inline-block;"
                                                              action="{{ path_for('supprHero') }}"
                                                              method="post">
                                                            <button style="height: 50%; line-height: 2; font-weight: bold;"
                                                                    class="green waves-effect waves-light btn"
                                                                    name="supprimer"
                                                                    type="submit" value={{ heros.id_hero }}>Supprimer
                                                            </button>
                                                        </form>



                                                    </div>

                                                </div>
                                            </div>
                                            {#BLOC ACTIONS#}
                                        {% endif %}
                                    </div>
                                </div>
                                {#BLOC REPETE HERO#}
                            {% endfor %}




                        </div>


                    </div>
                </div>
                <form style="width: 49%;position: absolute; right: 0; bottom: 0;" action="createHero">
                    <button class="waves-effect waves-light btn green" style="width: 100%; font-weight: bold;"
                            type="submit"
                            value="">Créer un héros
                    </button>
                </form>

                <button style="width: 49%; position: absolute; left: 0; bottom: 0; font-weight: bold;"
                        class="green waves-effect waves-light btn"
                        id="randomHero"
                        type="submit"
                        value={{ count | json_encode | raw }}>
                    Choisir un héros aléatoirement
                </button>

            </div>

        </div>
        {#FIN BLOC HEROS#}

        {#BLOC MONSTRES#}
        <div class="col">
            <h4 class="left-align red-text" style="font-weight: bold;"> Choisissez le(s) monstre(s) que vous envoyez au
                combat</h4>
            <div class="card valign-wrapper">
                <div class="card-content">
                    <div class="col">
                        {% for monsters in monster %}
                            <div class="row valign-wrapper">
                                {#BLOC INFO PERSO#}
                                <div class="card horizontal" style="width: 256px">
                                    <div class="card-image center-block center">
                                        <img style="width: 256px" src="{{ monsters.path }}"
                                             alt="Un héros">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content">
                                            <h5 class="center"> {{ monsters.name }} </h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt
                                                ut
                                                labore et dolore magna aliqua.</p>
                                        </div>
                                        <div class="card-action">
                                            <label>
                                                <input class="checkbox-green" type="checkbox" name="caracMonster" id=monster{{monsters.id_monster}} data-name="{{ monsters.name }}"
                                                       value={{ monsters.id_monster }}>
                                                <span>Envoyer
                                            ce monstre au combat</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                {#BLOC INFO PERSO#}

                                <div class="col">
                                    {#BLOC STATS#}
                                    <div>
                                        <div class="card horizontal" style="width: 256px">
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    Points de vie
                                                    <div class="progress">
                                                        <div class="red determinate" style="width: 70%"></div>
                                                    </div>
                                                    Attaque
                                                    <div class="progress">
                                                        <div class="red determinate" style="width: 70%"></div>
                                                    </div>
                                                    Défense
                                                    <div class="progress">
                                                        <div class="red determinate" style="width: 70%"></div>
                                                    </div>
                                                    Agilité
                                                    <div class="progress">
                                                        <div class="red determinate" style="width: 70%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {#BLOC STATS#}

                                    {% if auth.check() %}
                                        {#BLOC ACTIONS#}
                                        <div class="card horizontal" style="width: 256px">
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <h5 class="center"> Actions </h5>
                                                </div>
                                                <div class="card-action">
                                                    <form style="display: inline-block;"
                                                          action="{{ path_for('modif.monstre') }}" method="get">
                                                        <button style="height: 50%; line-height: 2; font-weight: bold;"
                                                                class="red waves-effect waves-light btn" name="modifier"
                                                                type="submit"
                                                                value={{ monsters.id_monster }}>Modifier
                                                        </button>
                                                    </form>

                                                    <form style="display: inline-block;"
                                                          action="{{ path_for('supprMonster') }}" method="post">
                                                        <button style="height: 50%; line-height: 2; font-weight: bold;"
                                                                class="red waves-effect waves-light btn"
                                                                name="supprimer"
                                                                type="submit"
                                                                value={{ monsters.id_monster }}>Supprimer
                                                        </button>
                                                    </form>

                                                    <div class="nomMonster" value={{ monsters.name }}></div>

                                                </div>
                                            </div>
                                        </div>
                                        {#BLOC ACTIONS#}
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <form style="width: 49%; position: absolute; right: 0; bottom: 0" action="createMonster">
                    <button class="waves-effect waves-light btn red " style="width: 100%; font-weight: bold;"
                            type="submit"
                            value="">Créer un monstre
                    </button>
                </form>

                <button style="width: 49%; position: absolute; left: 0; bottom: 0; font-weight: bold;"
                        class="red waves-effect waves-light btn"
                        id="randomMonster"
                        type="submit"
                        value={{ count | json_encode | raw }}>
                    Choisir un monstre aléatoirement
                </button>
            </div>
        </div>
        {#FIN BLOC MONSTRES#}
    </div>

    {#FIN BLOC MONSTRES#}




<div style="position: fixed; bottom: 0; left:0; z-index: 9999; width: 100%" class="row">
    <button id="goRand" class="col waves-effect waves-light btn-large green"  style="width: 32%; font-size: 0.8em" value="{{ count | json_encode | raw }}">Cliquez
        ici
        pour lancer un combat avec des champions aléatoires (à vos risques et périls!)
    </button>

    <button id="initFight" class="col waves-effect waves-light btn-large red" style="width: 32%"> Lancer le combat tour par tour
    </button>

    {#<form style="display: inline-block; width: 100%">#}
    <button id="gofight" class="col waves-effect waves-light btn-large red" style="width: 32%"> Lancer le combat automatique
    </button>
    {#</form>#}
</div>


</div>


{% include '/layout/footer.html.twig' %}